@import "foundation/foundation-global";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/labels";
@import "foundation/components/forms";
@import "foundation/components/section";
@import "foundation/components/top-bar";
@import "foundation/components/panels";
@import "foundation-icons/foundation-icons";
@import "nv.d3";


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FFF;
}

.app-header {
	margin-bottom: 40px;
}

.routes li.route {
	a {
		$active-color: #4f96de;
		font-size: 0.9em;
		letter-spacing: 0.1em;

		position: relative;

		&:hover {
			background: darken($active-color, 25%);
		}

		&.active, &.active:hover {
			background: $active-color;
			border-left: 2px solid #FFF;
			border-right: 2px solid #FFF;
		}

		&.active {
			&:before {
				$arrow-size: 16px;

				position: absolute;
				left: 50%;
				bottom: -$arrow-size*2;
				margin-left: -$arrow-size;
				content: '';
				width: 0px;
				height: 0px;

				border: $arrow-size solid transparent;
				border-top: $arrow-size solid $active-color;
			}
		}

	}
}


/* Rating Control */

.rating {
	.on {
		color: #333;
	}

	.off {
		color: #EEE;
	}
}


/* Controls on filter page */

.control {
	padding: 5px 0 20px 0;

	label {
		 margin-bottom: 10px;
		 display: inline-block;
		 background: #ffbda3;
		 padding: 3px;
		 text-shadow: 1px 1px 2px #FFF;
	}

	select {
		font-size: 0.9em;
		border: 1px solid #CCC;
		background: none;
		height: 150px;
	}
}


