<%= include _header.html %>

	<div class="contain-to-grid app-header">
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name">
					<h1><a href="/"><%= title %></a></h1>
				</li>
			</ul>

			<section class="top-bar-section">
				<ul class="left routes">
					<li class="route">
						<a href="#" class="active">Products</a>
					</li>
					<li class="route">
						<a href="#">Sales</a>
					</li>
				</ul>

				<ul class="right routes">
					<li class="route">
						<a href="#">Search</a>
					</li>
				</ul>
			</section>
		</nav>
	</div>

<!--  Scripts -->
<script type="text/javascript" src="/javascripts/vendor/require.js" ></script>
<script type="text/javascript" src="/javascripts/vendor/require.config.js" ></script>

<%= include _footer.html %>